.app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #13ad89;
  }
  
  h1 {
    text-align: center;
    color: #13ad89;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  form label,
  form input,
  form button {
    margin-bottom: 10px;
  }
  
  #name{
  width: 400px;
  }
  
  #description{
    width: 400px;
    }
  
    .btn-success {
      width: 150px;
    }
  
  button {
  cursor: pointer;
  color: white;
  }
  
  .button-group {
    display: flex;
    width: 150px;
    margin-right: 100px;
    gap: 15px; /* Adjust the space between buttons as needed */
  }
  
  .todos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
  }
  
  .header h2 {
    margin: 0; /* Remove the default margin for h2 */
  }
  
  .filter {
    display: flex;
    align-items: center;
    color: black;
    font-size: large;
  }
  
  .todo-cards {
    display: flex;
    justify-content: space-between;
  }
  
  .todo-card {
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: 10px;
    background-color: #ccf5d3;
  }
  
  .input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Added margin to separate input rows */
  }
  
  .input-row label {
    margin-right: 10px;
  }
  
  .input-row input {
    border-color: #13ad89;
    margin-right: 10px;
  }
  
  .filter label {
    margin-right: 10px;
  }
  
  .clr {
    background-color: #13ad89;
  }
  
  .clr1 {
    background-color: red;
  }
  
  /* Add your custom styles as needed */
  .green-background {
    background-color: #12ae8a;
  }
  
  .red-background {
    background-color: #fe7f81;
  }